<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557530664987-63fcloa6hnont0b6apurc68srtve7m9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557530664987-63fcloa6hnont0b6apurc68srtve7m9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCWdX1lJbS-WNIuG3qCkAksHDCSUMR_0g0</string>
	<key>GCM_SENDER_ID</key>
	<string>557530664987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hypergaragesale</string>
	<key>PROJECT_ID</key>
	<string>garage-sale-9afef</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-sale-9afef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557530664987:ios:bd108741e684243b5ce8be</string>
</dict>
</plist>